@charset "utf-8";
/* 내용 */
div#content {
    padding-top: 130px;
    width: 100%;
}

/* qna 글쓰기 전체 영역 지정 */
#qna_w {
	width: 90%;
	margin: auto;

}
/* qna 제목 부모요소 */
#user_title {
	display: block;
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

/* qna 제목 글씨 */
.qna_w_title.pull-left {
	display: inline-block;
	font-size: 18px; 
	height: 40px;
	line-height: 40px;
	width: 16%;
	text-align: center;
	font-weight: bold;
}

/* qna 제목 input 요소 */
#qna_title {
	display: inline-block;
	width: 80%;
	height: 40px;
}

/* qna 내용 부모요소 */
#qna_w_content {
	width: 100%;
	padding: 0 20px 20px 15px;
	border-bottom: 2px solid #ccc;	
}

/* qna 내용 input 요소 */
#qna_content {
	display: inline-block;
	width: 100%;
    line-height: 20px;
}

#btn {
	height: 34px;
	line-height: 34px;
	margin: 20px 10px;
}

.btn.btn-warning {
	width: 31%;
	margin: auto;
}

.btn.btn-light {
	display: inline-block;
	width: 31%;
	margin-left: 1.8%;
}

.btn.btn-danger {
	width: 31%;
	margin-left: 1.8%;
}