 @charset "utf-8";
/* 내용 */
#content {
    padding-top: 130px;
    width: 100%;
}

/* form 영역 */
#notice_form {
	width: 100%;	
}

/* form 안의 영역 */
#myNotice {
	width: 100%;
}

/* 제목 영역 notice*/
#notice {
	width: 100%;
	padding: 20px 30px;
	background-color: #FFCB74;
	border-bottom: 2px solid #07031A;
}

/* 제목, 수정 버튼 영역*/
.notice_top {
	width: 100%;
	height: 34px;
	overflow: hidden;
	margin-bottom: 20px;
}

/* 제목 글씨 */
.notice_title {
	width: 100%;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	font-size: 18px;
}

.notice_title > strong {
	color: #FF0000;
}

/* 작성자, 작성일, 조회 */
.notice_ndc {
	width: 100%;
	font-size: 14px;
	height: 13px;
	overflow: hidden;
}

/* 작성자 */
.notice_name {
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

/* 작성일 */
.notice_date {
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

/* 조회수 */
.notice_count {
	padding: 0 10px;
}

#notice_content {
	width: 100%;
	padding: 20px 30px;
	line-height: 30px;
	min-height: 250px;
}

.show_list {
	width: 100%;
	padding: 20px 30px;
	border-top: 2px solid #ccc;
}

.show {
	width: 20%;
}

