@charset "utf-8";
/* 내용 */
#content {
    padding-top: 145px;
    width: 100%;
    padding-bottom: 10px;
}

/* 조회 없다 null */
#null {
	width: 100%;
	height: 250px;
	line-height: 250px;
	text-align: center;
	font-weight: bold;
}

/* notice게시판 전체 영역 */
#notice {
	width: 100%;
	padding: 20px 0;
	border-bottom: 1px solid #ccc;
}

#notice:nth-child(1) {
	border-top: 2px solid #ccc;
}


/* notice 제목 */
.notice_title {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px; 
	padding: 0 30px;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.notice_title > span > a {
	color: #07031A;
	font-weight: bold; 
}

/* 작성자 , 작성일, 조회수 */
.name_day_hit {
	display: block;
	width: 100%;
	line-height: 14px;
	height: 13px;
	font-size: 14px;
	padding-left: 30px;
	overflow: hidden;
}

/* 작성자 */
.notice_name {
	display: inline-block;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

/* 작성일 */
.date {
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

/* 조회수 */
.hit {
	display: inline-block;
	padding-left: 10px;
}


/* 검색창, 글쓰기 부모 영역*/
#form {
	width: 90%;
	margin: auto;
	padding: 14px 0;
}

/* 검색 form 영역 */
#search {
	width: 60%;
	height: 34px;
}


/* 검색창 크기 */
.search_text {
	width: 75%;
	height: 34px;
} 

/* 검색버튼 */
.search {
	height: 34px;
	
}

.p {
	width: 100%;
	padding: 10px 40px;
	text-align: center;
	border-top: 2px solid #ccc;
}
