 @charset "utf-8";
/* 내용 */
#content {
    padding-top: 130px;
    width: 100%;
}

/* form 영역 */
#qna_form {
	width: 100%;	
}

/* form 안의 영역 */
#myQna {
	width: 100%;
}

/* 제목 영역 qna*/
#qna {
	width: 100%;
	padding: 20px 30px;
	background-color: #FFCB74;
	border-bottom: 2px solid #07031A;
}

/* 제목, 수정 버튼 영역*/
.qna_top {
	width: 100%;
	height: 34px;
	overflow: hidden;
	margin-bottom: 20px;
}

/* 제목 글씨 */
.qna_title {
	width: 82%;
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	font-size: 18px;
}

/* 수정 버튼 영역 지정*/
.update_top {
	width: 18%;
}

/* 작성자, 작성일, 조회 */
.qna_ndc {
	width: 100%;
	font-size: 14px;
}

/* 작성자 */
.qna_name {
	padding-right: 10px;
	border-right: 1px solid #ccc;
}

/* 작성일 */
.qna_date {
	padding: 0 10px;
	border-right: 1px solid #ccc;
}

/* 조회수 */
.qna_count {
	padding: 0 10px;
}

#qna_content {
	width: 100%;
	padding: 20px 30px;
	line-height: 30px;
	font-size: 15px;
	min-height: 250px;
	border-bottom: 1px solid #ccc;
}

.show_list {
	width: 100%;
	padding: 20px 30px;
	border-top: 2px solid #ccc;
}

.show {
	width: 20%;
}

/* 답변하기 form */
#qna_reply {
	width: 100%;
}

/* 답변하기 부모영역 */
#reply {
	width: 100%;
	padding: 20px 10px;
	border-bottom: 1px solid #ccc;
}

/* 답변 input */
#q_reply {
	width: 75%;
	height: 50px;	
}

/* 답변 button */
.q_reply {
	width: 23%;
	height: 50px;
}

#comment {
	width: 100%;
}

.comment_reply {
	width: 100%;
	border-top: 1px solid #ccc;
	line-height: 30px;
	font-size: 15px;
}

.teay {
	width: 100%;
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 5px;
	background-color: #ddd;
	padding-left: 10px;
}

.dap {
	padding-right: 5px;
}
.team {
	padding-right: 10px;
	border-right: 1px solid #ccc;
	
}

.day {
	padding-left: 10px;	
}

.reply_comment {
	width: 100%;
	padding: 0 10px;
}
