 @charset "utf-8";
/* 내용 */
div#content {
    padding-top: 130px;
    width: 100%;
}

/* qna 글쓰기 전체 영역 지정 */
#qna_w {
	width: 90%;
	margin: auto;

}

/* qna 제목 부모요소 */
#qna_title {
	width: 100%;
	display: block;
	padding: 25px 0;
	border-bottom: 1px solid #ccc;
}

/* qna 제목 글씨 */
.qna_w_title.pull-left {
	display: inline-block;
	font-size: 18px; 
	height: 40px;
	line-height: 40px;
	width: 16%;
	text-align: center;
	font-weight: bold;
}

/* qna 제목 input 요소 */
.form-control.pull-left {
	display: inline-block;
	width: 80%;
	height: 40px;
}

/* qna 내용 부모요소 */
#qna_w_content {
	padding-top: 25px;
	width: 98%;
	margin:auto;
}

#qna_w_btn {
	width: 90%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 25px;
}

/* 등록 버튼 */
.btn.btn-warning {
	width: 48%;
	margin-right: 2%;
}

/* 취소버튼 */
.btn.btn-light {
	width: 48%;
	margin:auto;
}



