@charset "utf-8";
/** footer */

#footer {
    width: auto;
    text-align: center;
}

/* 아이콘 위아래 선 표시 */
#footer .icon {
    border-top: 15px solid #F4F5FA;
    border-bottom: 15px solid #F4F5FA;

}

/* 아이콘 크기 설정 및 정렬 */
#footer .icon li {
    width: 25%;
    float: left;
    margin: 0;
    padding-bottom: 15px;
}

/* 아이콘 이미지 크기 */
#footer .icon .thumb img {
    width: 100%;
}

/** 하단 공통 텍스트 */
#footer .icon .text {
    width: 95%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
}

#footer .icon:after {
    display: block;
    content: '';
    clear: both;
    float: none;
}

#footer address {
    width: auto;
    margin: auto;
    height: 200px;
    background: url(../img/icon/address.png) center center no-repeat;
    text-indent: -10000px;
    border-top: 1px solid #ABADCD;
}