@charset "utf-8";

/** gallery img 크기 지정 */

#gallery li {
    width: 50%;
    float: left;
    padding: 10px 0;
}

#gallery li a {
    display: block;
    width: auto;
}

#gallery li a span {
    overflow: hidden;
    display: block;
    width: 90%;
    margin: auto;
}

#gallery .thumb img {
    width: 100%;

}

/** new gallery text 크기 지정 */
#gallery .text {
    width: 95%;
    height: 30px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
}

#gallery:after {
    content: '';
    display: block;
    float: none;
    clear: both;
}