    @charset "utf-8";
    /* 공통 속성 */

    html,
    body {
        width: 100%;
        height: 100%;
    }

    #section {
        display: none;
    }

    /** 검색창 부분 */
    #content,
    div#body {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    #searchBox {
        width: 100%;
        padding: 25px 0;
    }

    #searchBox>input {
        width: 70%;
        text-align: center;
        line-height: 30px;
        border: 1px solid #ABADCD;
    }

    #searchBox>button {
        margin-left: 15px;
        width: 60px;
        height: 32px;
        border: 0;
        background-color: #ABADCD;
        color: #fff;
    }

    /** 배너 이미지 크기 조절*/
    #banner {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    #banner-img {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /** 메인 버튼 부분 */

    #mainButton ul {
        list-style: none;
        width: auto;
        border-top: 1px solid #ABADCD;
        border-bottom: 1px solid #ABADCD;
    }

    #mainButton li {
        width: 25%;
        height: auto;
        display: inline-block;
        text-align: center;
    }

    #mainButton li a {
        text-decoration: none;
        display: block;
        width: auto;
        padding: 15px 15px;
    }

    #mainButton .special {
        color: rgb(157, 138, 209);
        font-weight: bold;
    }


    /** newItem more 부분 */
    #newItem {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #F4F5FA;

    }

    #newItem text {
        float: left;
        margin-left: 20px;
    }

    #newItem a {
        float: right;
        margin-right: 30px;
    }

    #newItem:after {
        display: block;
        content: '';
        clear: both;
        float: none;
    }

    #bestItem {
        border-top: 1px solid #ABADCD;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #F4F5FA;

    }

    #bestItem text {
        float: left;
        margin-left: 20px
    }

    #bestItem a {
        float: right;
        margin-right: 30px;
    }

    #bestItem:after {
        display: block;
        content: '';
        clear: both;
        float: none;
    }