@charset "utf-8";



/* 목록정의 각 항목 사이의 구분선
 ----------------------------------------- */
#reply li {
    border-bottom: 1px solid #eee;
    ;
}

#reply li:first-child {
    border-top: 1px solid #eee;
    margin-top: 23px;
}

#reply li:last-child {
    border-bottom: 0;
}

/* 링크 영역 크기 확장 및 글자 처리
 ----------------------------------------- */

#reply li a {
    display: block;
    width: auto;
    padding: 5px;
    color: #222;
    text-decoration: none;

    /** 텍스트를 감싸는 블록의 부모 요소에게 position 부여 */
    position: relative;
}


/* 이미지가 들어 있는 <span> 및 이미지 크기 처리
 ----------------------------------------- */
#reply li a .thumb {
    width: 80px;
    height: 80px;
    display: block;
}

#reply .thumb img {
    width: 100%;
    height: 100%;
}

/* 텍스트를 감싸는 블록
 ----------------------------------------- */
#reply .text {
    display: block;
    width: auto;
    position: absolute;
    left: 100px;
    top: 27px;

}

/* 텍스트 블록 안의 제목과 내용 공통
 ----------------------------------------- */
#reply .text span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 제목 + 내용
 ----------------------------------------- */
#reply .text .title {
    font-weight: bold;

}

#reply .text .desc {
    width: 300px;
    font-size: 0.8;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}